project_id  = "your-dev-project-id"
region      = "europe-west1"
environment = "dev"

terraform_state_access_members = [
  # "user:you@example.com",
  # "serviceAccount:terraform-plan@your-dev-project-id.iam.gserviceaccount.com",
]

ci_writer_members = [
  # "serviceAccount:service-build@your-dev-project-id.iam.gserviceaccount.com",
]

vertex_model = "gemini-1.5-pro"

artifact_registry_repo_id = "acr"
image_tag                 = "latest"

docai_location              = "eu"
gemini_max_instances        = 5
gemini_timeout_seconds      = 1800
docai_timeout_seconds       = 1800
dispatcher_max_instances    = 5
gemini_batch_char_threshold = 200000

# monitoring_notification_channel_ids = ["projects/your-dev-project-id/notificationChannels/CHANNEL_ID"]
# monitoring_alert_emails = ["ops@example.com"]
# monitoring_enable_log_export = true
# monitoring_log_export_bucket_name = "your-dev-project-id-acr-dev-logs-archive"
